<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CURD User</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item" id="dashboard">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    {{#if UserCan.Xemdanhsachthanhvien }}
        <li class="nav-item" id="liUser">
            <a class="nav-link" href="/user">
                <i class="fas fa-user"></i>
                <span>Quản lý thành viên</span>
            </a>
        </li>
    {{/if}}
    {{#if UserCan.Xemdanhsachbaiviet }}
        <li class="nav-item" id="liPost">
            <a class="nav-link" href="/post">
                <i class="fas fa-fw fa-address-book"></i>
                <span>Quản lý bài viết</span>
            </a>
        </li>
    {{/if}}
    {{#if UserCan.Xemdanhsachquyen }}
        <li class="nav-item" id="liRole">
            <a class="nav-link" href="/role">
                <i class="fas fa-fw fa-address-book"></i>
                <span>Quản lý quyền</span>
            </a>
        </li>
    {{/if}}
    {{#if UserCan.Xemdanhsachloaitaikhoan }}
        <li class="nav-item" id="liUserType">
            <a class="nav-link" href="/user-type">
                <i class="fas fa-fw fa-address-book"></i>
                <span>Quản lý loại tài khoản</span>
            </a>
        </li>
    {{/if}}
    {{#if UserCan.Xemdanhsachnhomquyen }}
        <li class="nav-item" id="liRoleGroup">
            <a class="nav-link" href="/role-group">
                <i class="fas fa-fw fa-address-book"></i>
                <span>Quản lý nhóm quyền</span>
            </a>
        </li>
    {{/if}}
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>