<h4>Thêm thành viên</h4>
<div style="display: flex;justify-content: center;align-items: center;">
    <div class="card shadow mb-4 col-md-12">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/user/add" method="POST">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success">Tên thành viên</label>
                                    <input type="text" class="form-control form-control-sm" id="name" name="name"
                                        placeholder="Tên thành viên">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success">Email</label>
                                    <input type="email" class="form-control form-control-sm" id="email" name="email"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success">Tên đăng nhập</label>
                                    <input type="text" class="form-control form-control-sm" id="username"
                                        name="username" placeholder="Tên đăng nhập">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success">Mật khẩu</label>
                                    <input type="password" class="form-control form-control-sm" id="password"
                                        name="password" placeholder="Mật khẩu">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success">Địa chỉ</label>
                                    <input type="text" class="form-control form-control-sm" id="address" name="address"
                                        placeholder="Địa chỉ">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success">Số điện thoại</label>
                                    <input type="text" class="form-control form-control-sm" id="phone" name="phone"
                                        placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success" for="gender">Giới tính</label>
                                    <select name="gender" id="gender" class="form-control form-control-sm">
                                        <option value="male">Nam</option>
                                        <option value="female">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="text-success" for="userType">Loại tài khoản</label>
                                    <select name="userType" id="userType" class="form-control form-control-sm">
                                        {{#each listUserType}}
                                        <option value="{{ this._id }}">{{this.TypeName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Lưu" class="btn btn-success btn-sm">
                        <a href="/user" class="btn btn-danger btn-sm">Quay lại</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>